<a href="https://colab.research.google.com/github/kchapagain/Krishna_INFO5731_Fall2021/blob/main/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/01/2021, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [1]:
string = "Krishna"
def length(string):
  return len(string) # Returns the length of any string defined

length(string)

7

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [2]:
string = "google.com"
Result = {}
for i in string:
  if i in Result:
    Result[i] = Result[i] + 1
  else:
    Result[i] =  1
Result

{'.': 1, 'c': 1, 'e': 1, 'g': 2, 'l': 1, 'm': 1, 'o': 3}

(3) Write a Python program to sum all the items in a list. (4 points)

In [3]:
Items = [1,2,3,4,5,6,7,8,9]
sum = 0
for i in Items:
  sum = sum + i
sum

45

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [4]:

string = 'restart'
replace = string.replace(string[0],'$')
string[0] + replace[1:]

'resta$t'

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [5]:
def S(a,b):
  return 3.14*(a/b)**3
S=S(8,6)
print('S = ',S)

S =  7.4429629629629614

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [6]:
dic1={1:10, 2:20} 
dic2={3:30, 4:40}
dic3={5:50,6:60}
newdict={}
newdict.update(dic1)
newdict.update(dic2)
newdict.update(dic3)
newdict

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [7]:
tupple = (0,1,2,3,4,5,6,7,8,9)
element = [5,8,15,98]
for i in element:
  if i in tupple:
    print( i, 'is in the tupple')
  else:
    print(i, 'is not present in tupple')

5 is in the tupple
8 is in the tupple
15 is not present in tupple
98 is not present in tupple

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [8]:
list_set = {2,4,6,8,10,12,16,18,20}
print('The max value in the set is :', max(list_set))
print('The min value in the set is :', min(list_set))

The max value in the set is : 20
The min value in the set is : 2

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
           'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']

In [9]:
student_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']
list1=[]
list2=[]
list3=[]
list4=[]
list5=[]
list6=[]
for i in student_list:
  if len(list1)<6:
    list1.append(i)
  elif len(list2)<6:
    list2.append(i)
  elif len(list3)<6:
    list3.append(i)
  elif len(list4)<6:
    list4.append(i)
  else:
    list5.append(i)
print(list1)
print(list2)
print(list3)
print(list4)
print(list5)

['vmb0067', 'pc0353', 'snd0097', 'yye0005', 'sg0940', 'bk0301']
['rak0120', 'rrk0058', 'spk0057', 'vl0135', 'nm0547', 'pn0159']
['msp0174', 'dd0420', 'ds0761', 'rs0850', 'ss1995', 'at0739']
['at0768', 'mv0299', 'tv0119', 'dy0091', 'py0080', 'ttp0037']
['hc0439', 'ri0094', 'pk0339', 'hn0145', 'mn0426']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [10]:
array1 = [1,2,2,3,4,4,5,6,7,7,7,8,9,9] # list with duplicates
array2 = [1,2,3,4,5,6,7,8,9] #list with no duplicates
def duplicates(array):
  return set ([i for i in array if array.count(i)>1])
print(duplicates(array1))
print(duplicates(array2))

{9, 2, 4, 7}
set()

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [11]:
import pandas as pd
year = "2021"
s = year + "-01-01"
p = 52
f = "W-SUN"
sundays = pd.date_range(start = s,periods = p,freq = f)                     
print('The date for all sundays are :\n' ,sundays)

The date for all sundays are :
 DatetimeIndex(['2021-01-03', '2021-01-10', '2021-01-17', '2021-01-24',
               '2021-01-31', '2021-02-07', '2021-02-14', '2021-02-21',
               '2021-02-28', '2021-03-07', '2021-03-14', '2021-03-21',
               '2021-03-28', '2021-04-04', '2021-04-11', '2021-04-18',
               '2021-04-25', '2021-05-02', '2021-05-09', '2021-05-16',
               '2021-05-23', '2021-05-30', '2021-06-06', '2021-06-13',
               '2021-06-20', '2021-06-27', '2021-07-04', '2021-07-11',
               '2021-07-18', '2021-07-25', '2021-08-01', '2021-08-08',
               '2021-08-15', '2021-08-22', '2021-08-29', '2021-09-05',
               '2021-09-12', '2021-09-19', '2021-09-26', '2021-10-03',
               '2021-10-10', '2021-10-17', '2021-10-24', '2021-10-31',
               '2021-11-07', '2021-11-14', '2021-11-21', '2021-11-28',
               '2021-12-05', '2021-12-12', '2021-12-19', '2021-12-26'],
              dtype='datetime64[ns]', freq='W-SUN')